.git
.gradle
.settings
bin/*
build/*
catalina.base_IS_UNDEFINED/*
*.classpath
.project
gradle.properties
gradle-app.setting
*.war
*/bin/*
*/build/*
*/target/*
*/.classpath
*/.project
/bin/
/build/
